/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Button/index.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
.Button_button__wfofQ {
  display: flex;
  border-radius: 5px;
  background: #006c33;
  color: #ffffff;
  width: 432px;
  padding: 8px 32px 8px 32px;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 800;
  margin-top: 48px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
.Button_button__wfofQ .Button_spinner__sliDn {
  animation: Button_spin__lz1bE 0.5s linear infinite;
}
@keyframes Button_spin__lz1bE {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Button_error_msg__ASP6P {
  color: #ff0000;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

.Button_customButton__HUsVf {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: #ffffff;
  background: #006c33;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "inter";
  width: 167px;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/LoadingScreen/index.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
.LoadingScreen_wrapper__ey2uz {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.LoadingScreen_wrapper__ey2uz .LoadingScreen_loader__jpITy {
  width: 50px;
  height: 50px;
  border: 10px dashed #006c33;
  border-radius: 100%;
  animation-name: LoadingScreen_rotate__CvuDY;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes LoadingScreen_rotate__CvuDY {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/page/Login/index.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
.Login_background__6Y4jS {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 429px;
  background-image: url(webpack:///mini-css-extract-plugin//_next/static/media/NeptuneBackground.80bdc163.png);
  width: 100vw;
  height: 100vh;
  padding-right: 153px;
  background-color: #006c33;
}

.Login_login-logo__m3OxO {
  display: flex;
  align-items: center;
}

.Login_login-field__d0wzd {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.75rem;
  height: 32.5625rem;
  width: 32.4375rem;
  margin-top: 18%;
  padding: 1.375rem 5.25rem;
  align-items: center;
  border-radius: 0.75rem;
  height: 32.5625rem;
}

.Login_form__Y5llV {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}
.Login_form__Y5llV .Login_header__tHrIp {
  color: #343a40;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0175rem;
  margin-bottom: 1rem;
}

.Login_footer__S5JMr {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 1rem;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Input/index.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Input_input_Group__RNtsr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.5rem;
  width: 27rem;
}

.Input_input_Group__RNtsr > label {
  font-size: 1rem;
  font-weight: 600;
}

.Input_input_Group__RNtsr > input {
  padding: 0.5rem;
  border: 1px solid #9a9a9a;
  background: #f0f0f3;
  border-radius: 0.3125rem;
  width: 100%;
  height: 3rem;
  outline: none;
}

.Input_input_Group__RNtsr > input[type=file] {
  color: transparent;
  width: 0;
  height: 0;
  display: none;
}
